* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
     -ms-user-select: none;
         user-select: none;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

#highhead, #highscore {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;  
}